<main id="project_main">
  <div id="generator_container">
    <div id="squared_container">

      <div>
        <p class="paragraph_container">Advice #117</p>

        <h1 class="title_container">"{{textToShow}}"</h1>

        <img id="img_line" src="../assets/images/pattern-divider-desktop.svg"/>
      </div>

      <div class="button_icons">
        <button (click)="buttonClick()" class="circle_icon">
          <img id="img_icon" src="../assets/images/icon-dice.svg"/>
        </button>
      </div>

    </div>
  </div>
</main>


<!-- "It is easy to sit up and take notice, what's difficult is getting up and taking action." -->

